@model aspnet_core_mvc_kojs_demo_crud.ViewModels.ProductsListViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Products List - CRUD Page";
    var jsonSerialiserSettings = new JsonSerializerSettings {StringEscapeHandling = StringEscapeHandling.EscapeHtml};
}

<section class="container">
    <h2 class="">Products List 
        <small class="text-muted">with CRUD</small>
    </h2>

    <div class="container-fluid" style="border: 1px solid #eee">
        <div class="row">
            <div class="col-md-1 text-center list-heading">
                <strong>#</strong>
            </div>
            <div class="col-md-6 text-center list-heading">
                <strong>Name</strong>
            </div>
            <div class="col-md-3 text-center list-heading">
                <strong>Price</strong>
            </div>
            <div class="col-md-1 text-center list-heading">
                <strong>Quantity</strong>
            </div>
            <div class="col-md-1 text-center list-heading"></div>
        </div>
        <div data-bind="template: { name: 'product_template', foreach: filteredProducts }">
        </div>
    </div>
    <div class="text-right" style="margin-top: 1em;">
        <button type="button" class="btn btn-success" title="Submit to Server" data-bind="click: doSubmit">
            <i class="fa fa-cloud-upload-alt"></i>&nbsp;&nbsp;Submit
        </button>
        <button type="button" class="btn btn-primary" title="Add a new Product on list" data-bind="click: addNewProduct">
            <i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add
        </button>
    </div>
</section>
@await Html.PartialAsync("~/Views/Shared/_ProductItemPartial.cshtml")

@section scripts{
    <script type="text/javascript">
        var model = @Html.Raw(@Json.Serialize(ViewData.Model, jsonSerialiserSettings));
        var productsVm = new ProductsViewModel(model);
        ko.applyBindings(productsVm);
    </script>
}